.toggleAllMembersButtons {
  display: flex;
  gap: 4px;
  flex-direction: row;
  justify-content: center;


  .menu_button {
    padding: 10px;
  }
}

#currentGroupMembers.showEnabledMembersOnly .group_member.disabled {
  display: none;
}

.rm_tag_controls > .showEnabledOnlyButton,
.rm_tag_filter > .showEnabledOnlyButton {
  cursor: pointer;
  opacity: 0.6;
  filter: brightness(0.8);
}

.rm_tag_controls > .showEnabledOnlyButton:hover,
.rm_tag_filter > .showEnabledOnlyButton:hover {
  opacity: 1;
  filter: brightness(1);
}

